/* Header */
nav {
  background-color: #bcbcbc;
}
nav .logo {
  width: 5rem;
}
nav .nav-link {
  transition: all 0.5s ease-in-out;
}
nav .nav-link:hover {
  transform: scale(1.1);
}

/* Home */
#home {
  background-image: url("../images/patrick-hendry-qDBbM9Erwo4-unsplash.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 100% 51%;
  background-attachment: fixed;
  text-align: center;
}
#home h1 {
  display: inline;
  color: #bcbcbc;
  font-size: 5rem;
}

/* about-section */
#about-section {
  background-color: #5a657b;
  padding: 5rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 1rem;
  align-items: center;
  text-align: left;
}
#about-section img {
  width: 100%;
}
#about-section p {
  color: #bcbcbc;
}

/* types-section */
#types-section {
  background-color: #bcbcbc;
  text-align: center;
  padding: 2rem 1rem;
}

#types-section h2 {
  margin: 5rem 0;
}
#types-section .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  text-align: center;
  gap: 1rem;
}
#types-section .cards-container img {
  width: 100%;
  margin-bottom: 3rem;
}
#types-section .cards-container h3 {
  margin-bottom: 0.8rem;
}

#types-section h2,
.cards-container h3,
.cards-container p {
  color: #5a657b;
}

/* thoughts-section */
#thoughts-section {
  background-color: #bcbcbc;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 1rem;
  padding: 3rem 1rem;
  align-items: center;
  text-align: left;
}
#thoughts-section img {
  width: 100%;
}
#thoughts-section div h2 {
  padding-bottom: 2rem;
}
#thoughts-section div p:nth-of-type(1) {
  padding-bottom: 2rem;
}
#thoughts-section h2,
#thoughts-section p {
  color: #5a657b;
}

/* Contact-section */
#contact-section {
  background-color: #5a657b;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 1rem;
  padding: 10rem 1rem;
  align-items: center;
  text-align: center;
}
#contact-section p,
#contact-section label {
  color: #bcbcbc;
}

/* contact-form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form > * {
  width: 100%;
}
form label {
  margin-top: 1rem;
  height: 2rem;
}
form input {
  height: 2rem;
}
form textarea {
  font-family: inherit;
}
form textarea,
form input {
  padding: 5px 5px;
}
form label,
form input,
form textarea {
  border-radius: 7px;
  border: none;
}
form #submit-btn {
  border: none;
  background-color: #bcbcbc;
  color: #5a657b;
  font-size: 1.1rem;
  margin-top: 1rem;
  width: 20%;
  transition: all 0.5s ease-in-out;
}
form #submit-btn:hover {
  transform: scale(1.1);
}

/* Footer */
footer {
  background-color: #5a657b;
  padding: 2rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  text-align: center;
}
footer ul p,
footer ul a {
  color: #bcbcbc;
}

@media screen and (min-width: 1024px) {
  body {
    padding-bottom: 9rem;
  }

  #about-section div,
#thoughts-section div {
    padding: 0 3rem;
  }

  form > * {
    width: 80%;
  }

  #about-section,
#thoughts-section,
#contact-section {
    padding: 11rem 10rem;
    text-align: left;
  }

  .cards-container {
    text-align: left;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  background-color: #5a657b;
  position: relative;
  min-height: 100vh;
  padding-bottom: 18rem;
}
body li,
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
body ul {
  padding-left: 0;
}
body h2 {
  font-size: 2rem;
}
body h3 {
  font-size: 1.3rem;
}
body p,
body a,
body label {
  font-size: 1.2rem;
}
body p {
  line-height: 1.9rem;
}

/*# sourceMappingURL=styles.css.map */
