*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  background-color: var(--five-color);
  position: relative;
  min-height: 100vh;
  padding-bottom: 18rem;
}

li, a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
	padding-left: 0;
}

:root {
  --primary-color: #555273;
  --secondary-color: #65799b;
  --third-color: #b6d5e1;
  --fourth-color: #bcbcbc;
  --five-color: #5a657b;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

p, a, label {
  font-size: 1.2rem;
}

p {
  line-height: 1.9rem;
}


/* Header */

nav {
  background-color: var(--fourth-color);
}

.logo {
  width: 5rem;
}

/* Home */

#home {
  background-image: url('../images/patrick-hendry-qDBbM9Erwo4-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 100% 51%;
  background-attachment: fixed;
  text-align: center;
}

h1 {
  display: inline;
  color: var(--fourth-color);
  font-size: 5rem;
}

/* about-section */

#about-section {
  background-color: var(--five-color);
  padding: 5rem 1rem;
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 1rem;
  align-items: center;
  text-align: left;
}

#about-section img {
  width: 100%;
}

#about-section p {
  color: var(--fourth-color);
}

/* types-section */

#types-section {
  background-color: var(--fourth-color);
  text-align: center;
  padding: 2rem 1rem;
}

#types-section h2 {
  margin: 5rem 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  text-align: center;
  gap: 1rem;
}

.cards-container div img {
  width: 100%;
  margin-bottom: 3rem;
}

.cards-container h3 {
  margin-bottom: .8rem;
}

#types-section h2, .cards-container h3, .cards-container p {
  color: var(--five-color);
}

/* thoughts-section */

#thoughts-section {
  background-color: var(--fourth-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 1rem;
  padding: 3rem 1rem;
  align-items: center;
  text-align: left;
}

#thoughts-section img {
  width: 100%;
}

#thoughts-section h2 {
  padding-bottom: 2rem;
}

#thoughts-section h2, #thoughts-section p {
  color: var(--five-color);
}

#thoughts-section div p:nth-of-type(1) {
  padding-bottom: 2rem;
}

/* Contact-section */

#contact-section {
  background-color: var(--five-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 1rem;
  padding: 10rem 1rem;
  align-items: center;
  text-align: center;
}

#contact-section p, #contact-section label {
  color: var(--fourth-color);
}

/* Form */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > * {
  width: 100%;
}

form label {
  margin-top: 1rem;
  height: 2rem;
}

form input {
  height: 2rem;
}

form textarea, form input {
  padding: 5px 5px;
}

textarea {
  font-family: inherit;
}

form label, form input, form textarea {
  border-radius: 7px;
  border: none;
}

#submit-btn {
  border: none;
  background-color: var(--fourth-color);
  color: var(--five-color);
  font-size: 1.1rem;
  margin-top: 1rem;
  width: 20%; 
  transition: all .5s ease-in-out;
}

#submit-btn:hover { transform: scale(1.1); }

/* Footer */

footer {
  background-color: var(--five-color);
  padding: 2rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  text-align: center;
}

footer p, footer a {
  color: var(--fourth-color);
}

@media screen and (min-width: 1024px) {
	body {
		padding-bottom: 9rem;
	}

  #about-section div {
    padding: 0 3rem;
  }

  #thoughts-section div {
    padding: 0 3rem;
  }

  form > * {
    width: 80%;
  }

  #about-section, #thoughts-section,
  #contact-section {
    padding: 11rem 10rem;
    text-align: left;
  }

  .cards-container {
    text-align: left;
  }
}