/* Contact-section */

#contact-section {
  background-color: $secondary-color;
  display: map-get($grid, display-grid);
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: map-get($grid, gap);
  padding: 10rem 1rem;
  align-items: center;
  text-align: center;

  p,
  label {
    color: $primary-color;
  }
}

/* contact-form */

form {
  @extend %flex-center;
  @include flex-align-items(center);
  flex-direction: column;
  & > * {
    width: 100%;
  }
  label {
    margin-top: 1rem;
    height: 2rem;
  }

  input {
    height: 2rem;
  }
  textarea {
    font-family: inherit;
  }
  textarea,
  input {
    padding: 5px 5px;
  }
  label,
  input,
  textarea {
    border-radius: 7px;
    border: none;
  }
  #submit-btn {
    border: none;
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 1.1rem;
    margin-top: 1rem;
    width: 20%;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}
