/* Footer */

footer {
  background-color: $secondary-color;
  padding: 2rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  ul {
    display: map-get($grid, display-grid);
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    text-align: center;
    p,
    a {
      color: $primary-color;
    }
  }
}
