@media screen and (min-width: 1024px) {
  body {
    padding-bottom: 9rem;
  }

  #about-section div,
  #thoughts-section div {
    padding: 0 3rem;
  }

  form > * {
    width: 80%;
  }

  #about-section,
  #thoughts-section,
  #contact-section {
    padding: 11rem 10rem;
    text-align: left;
  }

  .cards-container {
    text-align: left;
  }
}
